{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block title %} Register {% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-body">
                <h2 class="card-title text-center">Register</h2>
                <hr>
                <form method="POST" action="{% url 'authApp:register' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid gap-2 mt-3">
                        <button type="submit" class="btn btn-success">Register</button>
                    </div>
                </form>
                <div class="mt-3 text-center">
                    <p>Already have an account? <a href="{% url 'authApp:login' %}">Login here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}